
<!--<img src="../../assets/note.png" width="35"/>-->
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">The patient has arrived</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <img src="../../assets/arev.png" width="150"/>
            <pre>Arevik Harutyunyan </pre>
        </div>
        <div>
            Details:
            <ul>
                <li>Gender: Female</li>
                <li>Problem: Back pain</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">5min Delay</button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()">NOW</button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()">Comment</button>
    </div>
</ng-template>

<div class="navbar">
    <div class="button" (click)="onNotificationClick($event)">
        <i class="fa fa-bell-o"></i>
        <span ng-if="count" class="button__badge">{{count}}</span>
    </div>
</div>
